.calculadora-pantalla{
    width: 100%;
    height: 80px;
    padding: 0px 20px;


    background-color: #121223;
    border: 3px solid white;
    border-radius: 50px;

    font-size: 24px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}